@font-face {
	font-family: 'amaranth';
	src: url('../font/amaranth/amaranth-regular-webfont.eot');
	src: url('../font/amaranth/amaranth-regular-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../font/amaranth/amaranth-regular-webfont.woff') format('woff'),
		 url('../font/amaranth/amaranth-regular-webfont.ttf') format('truetype'),
		 url('../font/amaranth/amaranth-regular-webfont.svg#amaranthregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

body {
	background-color: #EAEAEA;
	color: #222;
	padding-top: 50px;
	font-family: 'Open Sans', sans-serif;
}

p {
	font-size: 17px;
}

hr {
	border-color: #1a1a1a;
}

p a {
	color: #333;
	border-bottom: 1px solid #428BCA;
}

p a:hover, p a:focus {
	/*color: #f1f1f1;*/
	border-bottom: 1px solid #428bca;
	text-decoration: none;
}

.navbar {
	margin-bottom: 0px;
}

.navbar-inverse {
	background-color: #1a1a1a;
}

.navbar-text {
	margin-top: 19px;
	margin-bottom: 14px;
}

.jumbotron {
	background: url(../img/1000f.png) no-repeat center center fixed;
	/*background-image: url("../img/1000f.png");
	background-position: center center;*/
	background-size: cover;
	text-align: center;
	padding-top: 70px;
	padding-bottom: 150px;
	margin-bottom: 0px;
	border-bottom: 1px solid #101010;
}

.jumbotron .container {
	font-family: 'Open Sans', sans-serif;
	text-shadow: 0 0 1px rgba(0,0,0,.05),0 1px 2px rgba(0,0,0,.3);
	color: rgba(255,255,255,0.9);
}

.jumbotron p {
	font-size: 21px;
	font-weight: 400;
}

.jumbotron p a {
	text-decoration: none;
	color: rgba(255,255,255,0.9);
	border-bottom: 1px solid rgba(255,255,255,0.3);
}

.jumbotron .small {
	font-size: 19px;
	font-weight: 400;
}

.jumbotron h1 {
	font-family: "amaranth", Arial, sans-serif;
	color: #fff;
	font-size: 50px;
	margin-bottom: 0.67em;
}

.jumbotron h1 img {
	margin-right: 0.9em;
}

@media (max-width: 1024px) {
	.jumbotron {
		padding-bottom: 90px;
	}
}

@media (max-width: 991px) {
	#projets img {
		height: 300px;
		width: 300px;
	}
	.youtube {
		height: 169px;
		width: 300px;
	}
	#achievements .col-md-4 {
		padding-bottom: 15px;
	}
	#achievements .col-md-12 .row {
		padding-bottom: 0px;
	}
	#footer {
		margin-top: 10px !important;
	}
}

@media (max-width: 768px) {
	#projets img {
		height: 200px;
		width: 200px;
	}
	.youtube {
		height: 113px;
		width: 200px;
	}
}

@media (max-width: 480px) {
	#projets img {
		display: none !important;
	}
	.youtube {
		display: none !important;
	}
	.text-right {
		text-align: left;
	}
}

.pull-left {
	margin-right: 25px;
}

.pull-right {
	margin-left: 25px;
}


@media (min-width: 992px) {
	#achievements .col-md-12 .row {
		padding-top: 15px;
		padding-bottom: 15px;
	}
}

.achievement {
	background-color: #f1f1f1;
	color: #222;
	padding: 5px;
	/*margin: 5px 0 5px 0;*/
	border-radius: 3px;
	min-height: 97px;
}

.achievement p {
	margin: 0px;
}

.achievement .status {
    margin: 5px 0px;
    padding-top: 1px;
}

.success {
    border-top: 1px solid #459645;
}

.fail {
    border-top: 1px solid #d9534f;
}

.status .icon-ok {
    color: #459645;
}

.status .icon-cancel {
    color: #d9534f;
}

.media-heading {
	margin-top: 3px;
}
.media-object {
	height: 50px;
	width: 50px;
	border-radius: 25%;
	background-color: #548DAD;
	margin: 5px;
	padding: 8px 0px 0px 1px;
	color: #fff;
}

.vid {
    position: relative;
    padding-bottom: 56.25%;
    /*padding-top: 30px;*/
    height: 0;
    overflow: hidden;
}
 
.vid iframe,
.vid object,
.vid embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#footer {
	margin-top: 100px;
	padding-top: 10px;
	background-color: #1a1a1a;
	border-top: 1px solid #101010;
}

footer {
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	color: #666;
	padding-bottom: 25px;
	margin-top: 26px;
}